[Desktop Entry]
Name=Logseq Desktop
Exec=logseq %U
Terminal=false
Type=Application
Icon=${SNAP}/app/resources/app/icons/logseq_big_sur.png
Categories=Utility
